@model ResumeNetDeveloper.Models.LoginViewModel

@*<form asp-controller="Account" asp-action="ExternalLogin" method="post">
    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
    <button type="submit">Войти с Google</button>
</form>*@
